<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/vendored/htmx@2.0.3.js"></script>
  <script src="/static/vendored/alpine@3.14.1.js" defer></script>

  {{-- Scripts --}}
  <script src="{{static('/static/app.js')}}" defer></script>

  {{-- Styles --}}
  <link rel="stylesheet" href="{{static('/static/css/app-built.css')}}" >

  <link rel="apple-touch-icon" href="/static/favicon.png">
  <link rel="icon" href="/static/favicon.png">

  <title>Todos</title>
  <style>
    [x-cloak] { display: none !important; }
  </style>
</head>

<body hx-boost="true" data-csrftoken="{{ csrfToken }}" data-appversion="{{ appVersion }}">
    <template x-data="{
        alert: undefined,
        show(alert) { this.alert = alert; setTimeout(() => this.hide(), 7500) },
        hide() { this.alert = undefined }
      }"
      x-if="alert"
      @alert:show.window="show($event.detail)"
      >
      <div role="alert" class="fixed top-0 left-0 w-full h-auto py-2 duration-300 ease-out shadow-sm sm:py-0 sm:h-10" :class="alert.classes || 'bg-slate-800'">
        <div class="flex items-center justify-between w-full h-full px-3 mx-auto max-w-7xl">
            <a href="#" class="flex flex-col w-full h-full text-xs leading-6 text-neutral-300 hover:text-white duration-150 ease-out sm:flex-row sm:items-center">
                <strong class="font-semibold" x-text="alert.lead"></strong>
                <span class="hidden sm:block mx-3"> | </span>
                <span class="block pt-1 pb-2 leading-none sm:inline sm:pt-0 sm:pb-0" x-text="alert.follow"></span>
            </a>
            <button @click="hide" class="flex items-center flex-shrink-0 translate-x-1 ease-out duration-150 justify-center w-6 h-6 p-1.5 text-neutral-100 rounded-full hover:text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-full h-full"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>
            </button>
        </div>
      </div>
    </template>
  {{{ await $slots.main() }}}
  <footer x-data>
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <hr class="my-6 border-gray-200 sm:mx-auto  lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center">
            © <span x-text="new Date().getFullYear()"></span>
            <a href="https://sizovs.net" class="hover:underline">Eduards Sizovs</a>. All Rights Reserved.
          </span>
      </div>
    </div>
  </footer>
</body>

</html>
