<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{-- https://blog.wesleyac.com/posts/why-not-javascript-cdn --}}
  <script src="/static/vendored/htmx@2.0.3.js"></script>
  <script src="/static/vendored/alpine@3.14.1.js" defer></script>

  {{-- Scripts --}}
  <script src="{{static('/static/app.js')}}" data-csrftoken="{{ csrfToken }}" defer></script>

  {{-- Styles --}}
  <link rel="stylesheet" href="{{static('/static/css/app-built.css')}}" >

  <link rel="apple-touch-icon" href="/static/favicon.png">
  <link rel="icon" href="/static/favicon.png">

  <title>Todos</title>
  <style>
    [x-cloak] { display: none !important; }
  </style>
</head>

<body hx-boost="true">
  {{{ await $slots.main() }}}
  <footer x-data>
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <hr class="my-6 border-gray-200 sm:mx-auto  lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center">
            © <span x-text="new Date().getFullYear()"></span>
            <a href="https://sizovs.net" class="hover:underline">Eduards Sizovs</a>. All Rights Reserved.
          </span>
      </div>
    </div>
  </footer>
  <template x-if="msg" x-data="{ msg: '', flash(msg) { this.msg = msg; setTimeout(() => this.msg = '', 5000) } }"
      @htmx:response-error.window="flash('Action failed. Please refresh the page and try again.')"
      @htmx:send-error.window="flash('Action failed. Are you connected to the internet?')">
    <div class="absolute bottom-0 right-0 flex items-center p-4 m-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 " role="alert">
      <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <div x-text="msg" role="alert">
      </div>
    </div>
  </template>
</body>

</html>
