button,
.button {
  height: 2.75rem;
  padding: 0 1rem;
  border: 1px solid var(--button-border-color);
  border-radius: 6px;
  background-color: var(--button-background-color);
  cursor: pointer;
  color: var(--button-text-color);
  font-size: 1rem;
  outline: none;
  transition: 0.25s;

  &:focus,
  &:hover {
    border-color: var(--input-focus)
  }
}

button.loading,
.button.loading {
  background-image: var(--button-loader-primary);
  background-repeat: no-repeat;
  background-position-x: calc(50% - 0.75rem);
  background-position-y: center;
  background-size: 1.5rem 1.5rem;
  color: transparent !important;
  pointer-events: none;
}
