label:has(input[type="checkbox"]) {
  display: flex;
  gap: .5rem;
  font-size: .9rem;
  cursor: pointer;
}

label:has(input[type="checkbox"]:disabled) {
  cursor: not-allowed;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--background-color);
  border: 1px solid var(--weak-border-color);
  border-radius: 4px;
  margin: 0;
  height: 1rem;
  width: 1rem;
  cursor: pointer;

  &:disabled {
    border-color: var(--weak-border-color);
    cursor: not-allowed;
    opacity: 0.65;
  }

  &:checked {
    background-color: var(--dark-gray);
    border-color: var(--dark-gray);

    &::before {
      content: "";
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      background-color: var(--white);
      position: relative;
      border-radius: 2px;
    }
  }

  &:focus,
  &:hover {
    background-color: var(--background-color);
    border-color: var(--input-focus)
  }
}
