.flash {
  font-size: .9rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: var(--white);

  &.alert {
    background-color: color-mix(in srgb, var(--flash-alert-color) 85%, transparent);
  }

  &.success {
    background-color: color-mix(in srgb, var(--flash-success-color) 85%, transparent);
  }
}
