.flash {
  font-size: .9rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: var(--white);
  background-color: color-mix(in srgb, var(--alert) 85%, transparent);
}
