:root {
  --white: #FFFFFF;
  --lightest-gray: #FAFAFA;
  --light-gray: #EDEDED;
  --dark-gray: #4D4D4D;
  --darkest-gray: #454545;
  --black: #161f2c;
  --deep-black: #222222;
  --primary: #196EC2;
  --alert: #ef4444;

  --text-color: var(--white);
  --weak-text-color: var(--light-gray);
  --link-color: var(--white);
  --icon-color: var(--white);
  --background-color: var(--black);
  --hover-color: var(--darkest-gray);

  --inverted-background-color: var(--deep-black);
  --inverted-text-color: var(--white);

  --weak-border-color: var(--dark-gray);
  --border-color: var(--light-gray);

  --header-background-color: var(--primary);
  --header-text-color: var(--white);

  --card-background-color: var(--darkest-gray);
  --toggle-background-off: var(--dark-gray);
  --toggle-background-on: var(--primary);

  --button-background-color: var(--black);
  --button-border-color: var(--light-gray);
  --button-text-color: var(--white);
  --button-alert-color: var(--alert);
  --button-loader-primary: url("images/loader-white.svg");
  --button-loader-secondary: url("images/loader-white.svg");

  --input-focus: #4efb7a;

  --flash-text-color: var(--white);
  --flash-alert-color: var(--alert);
  --flash-success-color: var(--primary);

  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  --inset-box-shadow: 0 1px 3px rgba(0, 0, 0, .14) inset;

  --dropdown-menu-background: var(--black);

  --header-height: 5rem;
  --body-padding: 2rem;
  --footer-height: 16rem;
  --nav-width: 16rem;
  --inverted-ic-logo: url("images/ic-logo-white.svg");
  --expand-image: url("images/expand-white.svg");
}

html {
  accent-color: var(--primary);
}
