/* https://systemfontstack.com/ */
html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-padding-top: var(--header-height);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
:after,
:before {
  box-sizing: border-box
}

h1 {
  letter-spacing: -2px;
  font-size: 2rem;
}

h2 {
  letter-spacing: -1px;
  font-size: 1.5rem;
}

h3 {
  letter-spacing: -1px;
  font-size: 1.25rem;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2rem;
}

p {
  line-height: 1.5;
}

a,
a:visited {
  color: var(--link-color);
}

p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child) {
  margin-bottom: 1rem;
}

ol.numbered,
ul.bulleted {
  padding-left: 2rem;

  & li {
    line-height: 1.5;
    margin-bottom: .5rem;
  }
}

ul.bulleted {
  list-style: disc
}

ol.numbered {
  list-style: decimal;
}

pre,
code {
  font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  font-size: .9rem;
  width: 100%;
  background-color: var(--card-background-color);
  border: 1px solid var(--weak-border-color);
}

pre {
  padding: .5rem;
  margin-bottom: 1rem;
  overflow: auto;

  border: 1px solid var(--weak-border-color);
  border-left-width: .5rem;
}

code {
  padding: .125rem .25rem;
  line-height: 1.5em;
}

pre code {
  border: none;
  display: block;
}
